/build/
/build-*/
/.vs/
/.vscode/*
!/.vscode/settings.json
*.user
*.log
__pycache__/
*.py[cod]
/webui/node_modules/
/webui/home/node_modules/
/robotics/ros2_ws/build/
/robotics/ros2_ws/install/
/robotics/ros2_ws/log/
/robotics/ros2_ws/build_*/
/robotics/ros2_ws/install_*/
/robotics/ros2_ws/log_*/
deploy/observability/certificates/*.key
deploy/observability/certificates/*.crt
deploy/observability/certificates/*.csr
deploy/observability/certificates/*.srl
