/build/
/build-*/
/.vs/
/.vscode/*
!/.vscode/settings.json
*.user
*.log
__pycache__/
*.py[cod]
/webui/node_modules/
deploy/observability/certificates/*.key
deploy/observability/certificates/*.crt
deploy/observability/certificates/*.csr
deploy/observability/certificates/*.srl
